{
  "tabWidth": 4,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "multilineTernary": true,
  "bracketSameLine": false,
  "overrides": [
    {
      "files": "src/app/components/formUlbi.jsx",
      "options": {
        "switchCaseIndent": true
      }
    }
  ]
}
